{% load static %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Refund Cleveland</title>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all">

        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">
    </head>

    <body class="{{ body_classes }}">
        <div id="page-wrap">
            <header id="main">
                <div class="site-branding">
                    <h1><a href="/">Refund Cleveland</a></h1>
                    <p>#defundthepolice</p>
                </div>
                <nav id="main">
                   <ul>
                       <li class="{% if budget %}active{% endif %}"><a href="/budget">change the budget</a></li>
                       <li class="{% if about %}active{% endif %}"><a href="/about">about</a></li>
                       <li class="{% if join %}active{% endif %}"><a href="/join">join</a></li>
                   </ul>
                </nav>
            </header>

            <div id="content">
                {% block content %}
                {% endblock content %}
            </div>

            <footer>
                {% block footer_scripts %}
                {% endblock footer_scripts %}
            </footer>
        </div> <!-- end #page-wrap -->
    </body>
</html>
