{% extends "base.html" %}
{% load static %}

{% block content %}

    <h2>2020 Mayor's Estimate: Public Safety Department</h2>
    <p>Click and drag the bar handles to change the dispersal of funds.</p>
    <div id="bar_chart" class="chart"></div>
    <div id="legend"></div>

{% endblock content %}

{% block footer_scripts %}

    <!-- Load D3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    {% comment %} Make json data available to external scripts {% endcomment %}
    {{ data | json_script:"json_data" }}

    <!-- Load test D3 visualizations -->
    <script src="{% static 'js/d3_visualizations.js' %}"></script>

{% endblock footer_scripts %}
