{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="penny_budget">

    <h1>What would your budget look like?</h1>
    <p>Refund Cleveland is collecting public feedback about how city funds should be dispersed between the budget items below (everything not assigned to the "Other" category in our <a href="/">simplified view of the Mayor Jackson's 2021 budget proposal</a>).</p>
    <div id="penny_budget_legend"></div>

    <div id="penny_budget"></div>

</div>


{% endblock content %}

{% block footer_scripts %}

    <!-- Load D3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    {% comment %} Make json data available to external scripts {% endcomment %}
    {{ data | json_script:"json_data" }}

    <!-- Load shared functions -->
    <script src="{% static 'js/shared.js' %}"></script>
    <!-- Load test D3 visualizations -->
    <script src="{% static 'js/change-budget.js' %}"></script>

{% endblock footer_scripts %}
