{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1>Mayor Jackson's 2020 General Fund Proposal</h1>

    <div id="budget_visualization">

    </div>

    <p>The residents of Cleveland have no public input into their city's budget. There are no budget town halls, no public comment sessions, no way for the residents of Cleveland to discuss with their leaders what the spending priorities should be in their community.</p>
    <p>This project is designed to make the budget for the City of Cleveland easier to understand. Its agenda is to make it clear where the money is going, and to provide people with the opportunity to see the difference between their budget priorities and their city government’s priorities.</p>
    <p>Refund Cleveland is a collaborative and community-led effort to design a city budget that centers around the values, needs, and priorities of our community. We want to thank Open Cleveland and all of their volunteers for their help and guidance in bringing this project to life.</p>

{% endblock content %}

{% block footer_scripts %}

    <!-- Load D3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    {% comment %} Make json data available to external scripts {% endcomment %}
    {{ data | json_script:"json_data" }}

    <!-- Load shared functions -->
    <script src="{% static 'js/shared.js' %}"></script>
    <!-- Load test D3 visualizations -->
    <script src="{% static 'js/mayors-budget.js' %}"></script>

{% endblock footer_scripts %}
