{% extends "base.html" %}
{% load static %}

{% block content %}

    <div id="header-info">
        <h1>Mayor Bibb's 2023 General Fund Proposal</h1>
    </div>

    <div id="budget_visualization"></div>

    <a id="submit_btn" href="/change-the-budget">Change The Budget</a>

    <p>The residents of Cleveland have little public input into their city's budget. There is no participatory budgeting program, no budget town hall and few opportunities for the residents of Cleveland to discuss with their elected officials what the
        spending priorities should be in their community.</p>
    <p>This project is designed to make the budget for the City of Cleveland easier to understand. Its agenda is
        to make it clear where the money is going, and to provide people with the opportunity to see the
        difference between their budget priorities and their city government’s priorities.</p>
	<p>The <a target="_blank" href="https://www.clevelandohio.gov/sites/default/files/forms_publications/2023MayorsEstimate.pdf">mayor's 2023 budget estimate</a> is now available. This website examines only the "general fund." Essential parts of life—schools, water, roads, public housing, etc.—each have separate budgets based on different revenue streams that do not compete for funding with the budget items above. Moreover, this project does not examine the legislative or judicial budgets. Determining an appropriate cost for running city council and the court system is complex beyond this project's scope. Instead, the budget captured here is where all the action is. </p>
    <p>For more information about the City of Cleveland's budget process, please see the <a target="_blank" href="/understanding-the-budget">Understanding the Budget</a> page created and contributed by the Cleveland Documenters.</p>
    <p>Refund Cleveland is a collaborative and community-led effort to design a city budget that centers around
        the values, needs, and priorities of our community. We want to thank <a target="_blank"
                                                                                href="https://www.opencleveland.org/">Open
            Cleveland</a> and all of their
        volunteers for their help and guidance in bringing this project to life.</p>
    <p>We value your privacy and invite you to <a href="/privacy-policy">read how your information will be shared</a>. </p>

{% endblock content %}

{% block footer_scripts %}

    <!-- Load D3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    {% comment %} Make json data available to external scripts {% endcomment %}
    {{ data | json_script:"json_data" }}

    <!-- Load shared functions -->
    <script src="{% static 'js/shared.js' %}?{% now "U" %}"></script>
    <!-- Load D3 visualizations -->
    <script src="{% static 'js/mayors-budget.js' %}?{% now "U" %}"></script>
    <!-- Load modal popups -->
    <script src="{% static 'js/line-item-modals.js' %}?{% now "U" %}"></script>

{% endblock footer_scripts %}
