{% extends "base.html" %}
{% load static %}

{% block content %}

    <div id="header-info">
        <h1>Privacy Policy</h1>
    </div>

    We at Open Cleveland respect your privacy and collect as little as information as possible so that your priorities will be shared with your city councilperson. 

    <p>We collect: </p>
    <ul>
    <li>Your email address </li>
    <li>Your ward</li>
    <li>Your budget priorities (the percentage values you allocate to each category)</li>
    <li>The time and date when you submitted a budget </li>
    </ul>

<p>What we share: </p>
    <ul>
    <li>Your email address</li>
    <li>Your totals will be shared in sum </li>
</ul>
    <p>Who it will be shared with: </p>
    
    The councilperson from the ward that you share with us.
    
    <p>Your email address will be shared with your councilperson in the event they wish to contact you. Collecting an email address also allows us to limit the number of submissions per person. </p>
    
     <p>We cannot guarantee your information will not be incidentally identified (if you are the only person in your ward to submit a result, for example). </p>
    
     <p>We will not sell or share your information with any other party except what was mentioned above and we will not keep it after the project is over (July 24, 2021). </p>
    
    <p>What we do NOT collect: </p>
    
    We do not collect any other information about your visit to the website, such as:
    <li>Domain from which you access the Internet</li>
    <li>Operating system on your computer and information about the browser you used when visiting the site</li>
    <li>Pages you visited</li>
    <li>Address of the website that connects you to the Site (such as google.com or bing.com)</li>
    

    {#        </div>#}
    {#    </div>#}


{% endblock content %}

{% block footer_scripts %}

{% endblock footer_scripts %}
