{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="understanding_the_budget">
        <div id="header-info">
            <h1>Here's what you need to know about the 2023 General Budget</h1>
            <h2>A guide and glossary created by the <a href="https://cleveland.documenters.org/">Cleveland Documenters</a></h2>
        </div>
<p>Cleveland is required by law each year to pass a balanced budget, meaning the city can&rsquo;t spend more money than it takes in.&nbsp;</p>
<p><strong>Here&rsquo;s how the process works:</strong></p>
<p>⮕ The mayor sends City Council a document that summarizes the administration&rsquo;s budget recommendations. It has detailed information for each city department and city fund and includes estimates on how much money the city expects to collect through taxes and fees. This happens by Feb. 1 each year (yes, even during a pandemic!)</p>
<p>⮕ City Council holds budget hearings starting in February. Council committee members discuss, debate and ask questions about spending priorities.&nbsp;</p>
<p>⮕ Council members can agree to amend &ndash; change &ndash; portions of the budget recommended by the mayor.</p>
<p>⮕ Council publicly shares its version of the budget, which is written into an ordinance or law that council votes on after hearings are completed. This is sometimes called the &ldquo;second reading&rdquo; of the budget.&nbsp;</p>
<p>⮕ Council must wait at least 7 days after publishing the amended budget in the City Record to do a &ldquo;third reading&rdquo; and vote to approve or not approve the budget.&nbsp;</p>
<p>⮕ The city must approve a budget by April 1 of each year.&nbsp;After the budget is approved, it is posted online.&nbsp;</p>
<p>⮕ At the end of the year, council decides whether to redistribute or save any money that was not spent.&nbsp;</p>
<p>This year, the city will hold its budget hearings and deliberations in Council Chambers at City Hall. These hearings will also be livestreamed on <a href="https://www.clevelandohio.gov/city-hall/office-mayor/tv20">TV20</a> and on <a href="https://www.youtube.com/user/ClevelandCityCouncil">Cleveland City Council&rsquo;s YouTube channel.</a></p>
<p><br /><br /></p>
<p><strong>What is the purpose of the budget?</strong></p>
<p>The budget tells residents what money the city is collecting and how it is being spent. The budget also clarifies what city leaders&rsquo; priorities are. The Budget Book breaks the spending and priorities down by department (the highest level of organization) and by division (different sections of the departments.) City departments have directors and divisions have commissioners.&nbsp;</p>
<p>In the Budget Book, you can see priorities laid out for each department.&nbsp;</p>
<p>Find the <a href="https://www.clevelandohio.gov/sites/clevelandohio/files/finance-docs/documents/2025%20City%20of%20Cleveland%20Mayor's%20Estimate_FINAL.pdf">current Mayor&rsquo;s Estimate for the budget</a>.</p>
<p>Find the <a href="https://www.clevelandohio.gov/sites/clevelandohio/files/cd/2024-25%20Annual%20Action%20Plan%20Draft.pdf">Community Development Block Grant Fund budget</a>.</p>
<p><br /><br /></p>
<p><strong>Find past Budget Books:&nbsp;</strong></p>
<ul>
<li><a href="https://www.clevelandohio.gov/sites/clevelandohio/files/finance-docs/documents/2022BudgetBook.pdf">2022 Budget Book</a></li>
<li><a href="https://www.clevelandohio.gov/sites/clevelandohio/files/finance-docs/documents/2021BudgetBook.pdf">2021 Budget Book</a></li>
<li><a href="https://www.clevelandohio.gov/sites/clevelandohio/files/finance-docs/documents/2020BudgetBook.pdf">2020 Budget Book</a></li>
<li><a href="https://www.clevelandohio.gov/sites/clevelandohio/files/finance-docs/documents/2019BudgetBook.pdf">2019 Budget Book</a></li>
<li><a href="https://www.clevelandohio.gov/sites/clevelandohio/files/finance-docs/documents/2018BudgetBook.pdf">2018 Budget Book</a></li>
</ul>
<br /><br />
<p><strong>How is the budget organized?</strong></p>
<ul>
<li>The two main parts are the Operating Budget and the Capital Budget. The Operating Budget is the money spent on things such as employees and supplies. The Capital Budget includes larger investments in buildings or street lights.&nbsp;</li>
</ul>
<ul>
<li>The money that is spent comes from several buckets. The major funds include: General Fund, Special Revenue Funds, Enterprise Funds and the Agency Fund. Find the <a href="https://drive.google.com/drive/folders/1fljcArYE5vUPXQo4l7L3RI19CjG_WQrf?usp=sharing">glossary</a> for definitions of these terms.&nbsp;</li>
</ul>
<ul>
<li>Money that the city receives from most federal and state grants is not included in the city budget funds because those grants are managed following different rules and often on a different schedule, or fiscal year.&nbsp;</li>
</ul>
<p><strong>Where does the money come from?</strong></p>
<p>Cleveland collects money in the form of taxes: income taxes from paychecks of people who work and/or live in the city, and taxes and fees from businesses such as &ldquo;bed&rdquo; taxes from hotel rooms.&nbsp;</p>
<p><strong>What is City Council's role?</strong></p>
<p>The legislative body reviews, amends &ndash; changes &ndash; and approves the city budget.&nbsp;</p>
<p><br /><br /></p>
<p><strong>Budget terms:</strong></p>
<p>Take a look at our<a href="https://drive.google.com/drive/folders/1fljcArYE5vUPXQo4l7L3RI19CjG_WQrf?usp=sharing"> glossary of words used in budget hearings</a>&nbsp;</p>

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQN6GnpNS2BLCwSjPLQ9tiX9L2_q2r3bwKj8OzdvheQEiNYyd65gHZSD3nm69jPoBDfhe_04VB3XjLE/embed?start=false&loop=true&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        <div id="understanding_the_budget_legend"></div>
        <div id="understanding_the_budget"></div>
    </div>

{% endblock content %}
