{% extends "base.html" %}
{% load static %}
{% load social_share %}

{% block content %}
    <h1>Your budget:</h1>

    <div id="budget_visualization"></div>

{% endblock content %}

{% block footer_scripts %}

    <!-- Load D3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    {% comment %} Make json data available to external scripts {% endcomment %}
    {{ user_json_data | json_script:"user_json_data" }}
    {{ mayor_json_data | json_script:"mayor_json_data" }}

    <!-- Load shared functions -->
    <script src="{% static 'js/shared.js' %}?{% now "U" %}"></script>

    <!-- Load D3 visualizations -->
    <script src="{% static 'js/view-budget.js' %}?{% now "U" %}"></script>

    <!-- Load modal popups -->
    <script src="{% static 'js/line-item-modals.js' %}?{% now "U" %}"></script>


    <h2> Share your budget on: </h2>
<ul>
    <li>{% post_to_facebook "" "Post to Facebook" %}</li>
    <li>{% post_to_twitter "I made my city budget for Cleveland with #refundcleveland. Check it out!" "" "Post to Twitter" %} </li>
</ul>
{% endblock footer_scripts %}
