{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Your budget:</h1>

    <div id="budget_visualization"></div>

{% endblock content %}

{% block footer_scripts %}

    <!-- Load D3.js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    {% comment %} Make json data available to external scripts {% endcomment %}
    {{ json_data | json_script:"json_data" }}

    <!-- Load shared functions -->
    <script src="{% static 'js/shared.js' %}?{% now "U" %}"></script>

    <!-- Load D3 visualizations -->
    <script src="{% static 'js/view-budget.js' %}?{% now "U" %}"></script>

    <!-- Load modal popups -->
    <script src="{% static 'js/line-item-modals.js' %}?{% now "U" %}"></script>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


    <h2> Share your budget submission on: </h2>
<ul>
    <li><a href="https://">Facebook</a></li>
    <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw">Twitter</a> </li>
</ul>

{% endblock footer_scripts %}
