/* Variables */
$c-primary: #ffd634;
$c-secondary-light: #333;
$c-secondary-dark: #222;

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

div#page-wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 2.5%;
  margin: 0 auto;
  max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Anton';
}

.site-branding {
  background: #000;
  color: #fff;
  padding: 1em;
}

.site-branding h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

.site-branding p {
  font-family: 'Roboto';
  font-weight: 300;
  color: $c-primary;
}

.site-branding a {
  color: inherit;
  text-decoration: none;
}

.site-branding a:hover {
  opacity: .9;
}

nav#main ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

nav#main ul li {
  list-style: none;
  flex-grow: 1;
}

nav#main ul li a {
  display: block;
  text-decoration: none;
  padding: 1em;
  color: #000;
  background: $c-primary;
  border-right: 5px solid #fff;
  text-align: center;
  font-family: 'Anton';
  transition: all .2s ease-in-out;
}

nav#main ul li:last-child a {
  border-right: 0px;
}

nav#main ul li.active a {
  background: $c-secondary-light;
  color: #fff;
}

nav#main ul li a:hover {
  background: $c-secondary-dark;
  color: #fff;
}

div#content {
  padding: 1em 0;
}

////////////////////////////////////////////////
// D3 visualizations

.bars rect {
  transition: opacity .1s ease-in-out;
 }

.bars rect.hover {
  opacity: .7;
  /* cursor: pointer; */
}

.tooltip {
  display: none;
}

.tooltip.show {
  display: block;
  position: absolute;
  text-align: center;
  padding: .5em 1em;
  margin-top: -20px;
  font: 1em sans-serif;
  background: #ddd;
  pointer-events: none;
  border-radius: 5px;
}

.tooltip .dept_name {
  font-weight: 700;
}

.chart {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}