/* Variables */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

body.home, body.colored-bg {
  background: #fccc1b;
}

div#page-wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 2.5%;
  margin: 0 auto;
  max-width: 1400px;
}

.site-branding {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}

header#main {
  padding: 1em 0;
}

nav#main {
  display: inline-block;
  float: right;
}

.site-branding a {
  color: inherit;
  text-decoration: none;
}

.site-branding a:hover {
  opacity: 0.9;
}

nav#main ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

nav#main ul li {
  display: inline-block;
}

nav#main ul li a {
  text-decoration: none;
  color: #000;
  padding: 0.5em;
}

nav#main ul li.active a {
  font-weight: 700;
}

nav#main ul li a:hover {
  text-decoration: underline;
}

div#content {
  padding: 1em 0;
}

div#content p {
  max-width: 700px;
}

div#content a, div#content a:visited {
  color: inherit;
  font-weight: 700;
}

div#content a:hover {
  text-decoration: none;
}

.tooltip {
  display: none;
}

.tooltip.show {
  display: block;
  position: absolute;
  text-align: center;
  padding: 0.5em 1em;
  margin-top: -20px;
  font: 1em sans-serif;
  background: #ddd;
  pointer-events: none;
  border-radius: 5px;
}

.tooltip .dept_name {
  font-weight: 700;
}

.chart {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 200%;
  vertical-align: top;
  overflow: hidden;
  margin: 1em 0;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

div#penny_budget, div#budget_visualization .bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bar_wrap {
  display: inline-block;
  margin-bottom: 2em;
  width: 47%;
}

div#budget_visualization .bars .bar_wrap:last-child svg rect {
  fill: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 481px) {
  .bar_wrap {
    width: 22%;
  }
}
@media screen and (min-width: 769px) {
  #penny_budget .bar_wrap {
    width: 13%;
  }

  #budget_visualization .bar_wrap {
    width: 13%;
  }
}
#penny_budget ul, #budget_visualization ul {
  margin: 0;
  padding: 0;
}

#budget_visualization .bar_wrap p, #penny_budget .bar_wrap p {
  font-weight: 700;
}

#budget_visualization .bar_wrap ul li, #penny_budget .bar_wrap ul li {
  font-size: 90%;
}

#penny_budget ul li, #budget_visualization ul li {
  list-style: none;
  margin: 0;
  padding: 0.5em 0 0;
  font-size: 16px;
}

#budget_visualization .bar_wrap text, #penny_budget .bar_wrap text {
  font-weight: 700;
  fill: #000;
  transition: fill 0.2s ease-in-out;
  opacity: 0.2;
}

.bar_wrap rect {
  transition: opacity 0.2s ease-in-out;
}

#penny_budget .bar_wrap rect:hover {
  cursor: pointer;
  opacity: 0.9;
}

.bar_wrap rect:hover ~ text {
  fill: #000;
}

#penny_budget_legend h2 {
  font-weight: 300;
  margin-bottom: 0;
}

#penny_budget_legend h2 span {
  font-weight: 700;
  font-size: 2em;
  display: block;
}

#penny_budget_legend > div {
  border: 2px solid #000;
  text-align: center;
  padding: 0.5em 0;
}

#penny_budget_legend > div.balanced {
  background: #fccc1b;
  border: 2px solid #fccc1b;
}

div#penny_budget_legend p {
  text-align: center;
  margin: 0 auto 1em;
}

.penny_budget p em {
  font-style: normal;
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  font-size: 2em;
  font-family: "Roboto";
  font-weight: 700;
  text-align: right;
  width: 100%;
  padding: 2em 0 2em 2em;
  outline: none;
}

button a {
  text-decoration: none;
  color: inherit;
}

button a:hover {
  opacity: 0.6;
  cursor: pointer;
}

rect.background_bar {
  fill: rgba(0, 0, 0, 0);
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  opacity: 0;
  left: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-content {
  background-color: #efefef;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0.5em;
  margin: 15vh auto;
  padding: 1em;
  width: 80%;
  max-width: 700px;
  font-size: 1.25em;
  font-weight: 700;
}

.modal-content h1 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

div#content .modal-content a, div#content :window-inactive.modal-content a:visited {
  color: #ababab;
}

div#content .modal-content a:hover {
  color: #000;
}

.modal-content .close {
  color: #000;
  float: right;
  font-size: 2em;
  line-height: 1;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.surplus-explanation {
  margin-bottom: 1em;
}

.surplus-explanation .equation span {
  margin-left: 0.5em;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
