/* Variables */

$color1: #3333CC;
$color2: #FC4A1A;
$color3: #4ABDAC;
$color4: #BD42BD;
$color5: #CC3333;
$color6: #DFDCE3;
$color7: #F7B733;

$max-content-width: 700px;
$breakpoint1: 481px;
$breakpoint2: 769px;

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  background-color: #f9f9f9;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

b, strong {
  font-weight: 700;
}

body.colored-bg {
}

div#page-wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 1em 2.5%;
  margin: 0 auto;
  max-width: 1400px;
}

.site-branding {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}

nav#main_nav {
  display: none;
  float: right;
}

.site-branding a, .site-branding a:visited {
  color: #000;
  text-decoration: none;
}

.site-branding a:hover {
  opacity: .9;
}

nav#main_nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

nav#main_nav ul li {
  display: inline-block;
}

nav#main_nav ul li a {
  text-decoration: none;
  color: #000;
  padding: .5em;
  font-weight: 300;
}

nav#main_nav ul li.active a, #mobile_menu li.active a {
  font-weight: 700;
}

nav#main_nav ul li a:hover {
  text-decoration: underline;
}

div#content {
  padding: 1em 0;
}

div#content p {
  max-width: $max-content-width
}

a, a:visited {
  color: #000;
  font-weight: 700;
}

a:hover {
  opacity: .9;
  text-decoration: none;
}

.tooltip {
  display: none;
}

.tooltip.show {
  display: block;
  position: absolute;
  text-align: center;
  padding: 0.5em 1em;
  margin-top: -20px;
  font: 1em sans-serif;
  background: #ddd;
  pointer-events: none;
  border-radius: 5px;
}

.tooltip .dept_name {
  font-weight: 700;
}

.chart {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 200%;
  vertical-align: top;
  overflow: hidden;
  margin: 1em 0;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

div#change_budget, div#budget_visualization .bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bar_wrap {
  display: inline-block;
  margin-bottom: 2em;
  width: 47%;
}

@media screen and (min-width: 481px) {
  .bar_wrap {
    width: 22%;
  }
}

@media screen and (min-width: 769px) {
  #change_budget .bar_wrap {
    width: 13%;
  }

  #budget_visualization .bar_wrap {
    width: 13%;
  }
}

#change_budget ul, #budget_visualization ul {
  margin: 0;
  padding: 0;
}

#budget_visualization .bar_wrap ul li, #change_budget .bar_wrap ul li {
  font-size: 90%;
}

#change_budget ul li, #budget_visualization ul li {
  list-style: none;
  margin: 0;
  padding: .5em 0 0;
  font-size: 16px;
}

#budget_visualization .bar_wrap text, #change_budget .bar_wrap text {
  font-weight: 700;
  //font-size: 1.5em;
  fill: #000;
  transition: fill .2s ease-in-out;
  opacity: .2;
}

#budget_visualization .bar_wrap text.dollar-amounts, #change_budget .bar_wrap text.dollar-amounts {
  text-align: center;
  display: block;
  font-weight: 400;
  fill: #fff;
  font-size: 80%;
}

.bar_wrap rect {
  transition: opacity .2s ease-in-out;
}

#change_budget .bar_wrap rect:hover {
  cursor: pointer;
  opacity: .9;
}

.bar_wrap rect:hover ~ text {
  fill: #000;
}

#change_budget_legend {
  margin-bottom: 1em;
}

#change_budget_legend h2 {
  font-weight: 300;
  margin-bottom: 0;
}

#change_budget_legend h2 span {
  font-weight: 700;
  font-size: 2em;
  display: block;
}

#change_budget_legend > div {
  border: 2px solid #000;
  text-align: center;
  padding: 1em 0;
}

#change_budget_legend > div.balanced {
}

div#change_budget_legend p {
  text-align: center;
  margin: 0 auto;
}

#change_budget_legend > div.balanced p {
  font-weight: 700;
}

#change_budget_legend span {
  color: #000;
}

#change_budget_legend span.balanced {
  color: #888;
}

.change_budget p em {
  font-style: normal;
  text-decoration: underline;
}

button.next, {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

#submit_btn, #submit_btn:visited {
  background-color: #000;
  display: inline-block;
  width: 100%;
  font-size: 1.5em;
  font-family: 'Roboto';
  font-weight: 700;
  text-align: center;
  outline: none;
  border: none;
  margin-bottom: 1em;
  padding: .75em 2em;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  border-radius: 0;
}

@media screen and (min-width: $breakpoint2) {
  #submit_btn {
    text-align: left;
    width: auto;
  }
}

#submit_btn:hover, #submit_btn:focus, #submit_btn:active {
  cursor: pointer;
  background-color: $color7;
}

#submit_btn:disabled, #content #submit_btn[disabled] {
  cursor: not-allowed;
  background: #888;
  color: #ccc;
}


// Line items in categories

p.category_name {
  margin-bottom: .25em;
  font-weight: 700;
}

a.category_details {
  font-weight: 300;
  color: #6a6a6a;
  text-decoration: underline;
  font-size: 90%;
}

a.category_details:hover {
  cursor: pointer;
  color: #000;
}

.bar_wrap p.city_budget {
  font-size: 75%;
  font-weight: 300;
  margin-top: 0;
}

// Submit form
#submit_form {
  margin-bottom: 1em;
}

#submit_form input {
  display: block;
  margin-bottom: 1em;
}

ul.errorlist.nonfield {
  display: none;
}

ul.errorlist {
    list-style: none;
    padding: 0;
    color: $color5;
}

.change-the-budget rect.background_bar {
    fill: #f3f2f2;
}

div#header-info {
  margin-bottom: 1em;
}


// Modal
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  transition: opacity .3s ease-in-out;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, .4);
}

.modal-content {
  background-color: #efefef;
  margin: 15vh auto;
  padding: 1em;
  width: 80%;
  max-width: $max-content-width;
}

.modal-content h1 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

div#content .modal-content a, div#content :window-inactive.modal-content a:visited {
  color: #ababab;
}

div#content .modal-content a:hover {
  color: #000;
}

.modal-content .close {
  color: #000;
  float: right;
  font-size: 2em;
  line-height: 1;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.surplus-explanation {
  margin-bottom: 1em;
}

.surplus-explanation .equation span {
  margin-left: .5em;
  font-style: italic;
}


// Mobile menu
$defaultTransition: all .25s cubic-bezier(0.2, 0, .5, 1.0);

header#masthead {
  width: 100%;
  -webkit-transition: $defaultTransition;
  -o-transition: $defaultTransition;
  transition: $defaultTransition;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#masthead.fixed {
  background: rgba(0, 0, 0, .7);
  color: #fff;
}

#masthead.fixed a {
  color: #fff;
}

#mobile_menu {
  width: 100%;
  -webkit-transition: $defaultTransition;
  -o-transition: $defaultTransition;
  transition: $defaultTransition;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

#mobile_menu li a {
  text-decoration: none;
  color: #000;
  padding: .5em 0;
  display: block;
  cursor: pointer;
  -webkit-transition: $defaultTransition;
  -o-transition: $defaultTransition;
  transition: $defaultTransition;
}

#mobile_menu li:first-child a {
  padding-top: 1em;
}

#mobile_menu li:last-child a {
  padding-bottom: 1em;
}

#mobile_menu a:hover {
  opacity: .8;
  background: rgba(0, 0, 0, .1);
}

#masthead.collapsed #mobile_menu {
  opacity: 0;
  height: 0px;
}

#masthead.expanded #mobile_menu {
  opacity: 1;
}

#masthead__button {
  background: none;
  border: none;
  float: right;
  -webkit-transition: $defaultTransition;
  -o-transition: $defaultTransition;
  transition: $defaultTransition;
}

#masthead__button:focus {
  outline: none;
}

#masthead__button:hover {
  cursor: pointer;
  opacity: .8;
}

#masthead__button span {
  display: block;
  width: 2em;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  background: #000;
  z-index: 1;
  -webkit-transition: $defaultTransition;
  -o-transition: $defaultTransition;
  transition: $defaultTransition;
}

#masthead.expanded #masthead__button span:first-child {
  -webkit-transform-origin: 0 0%;
  -ms-transform-origin: 0 0%;
  transform-origin: 0 0%;
  -webkit-transform: rotate(45deg) translate(-2px, -2px);
  -ms-transform: rotate(45deg) translate(-2px, -2px);
  transform: rotate(45deg) translate(-2px, -2px);
}

#masthead.expanded #masthead__button span:last-child {
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(-45deg) translate(0, 0);
  -ms-transform: rotate(-45deg) translate(0, 0);
  transform: rotate(-45deg) translate(0, 0);
}

#masthead.expanded #masthead__button span:nth-child(2) {
  opacity: 0;
}

#masthead.fixed #masthead__button span {
  background: #fff;
}

@media screen and (min-width: $breakpoint1) {

  #masthead__button {
    opacity: 0;
    display: none;
  }

  nav#main_nav {
    display: inline-block;
  }

  #mobile_menu {
    display: none;
  }
}
